# required keeper wallet and provider url 
ETH_HDWALLET_MNEMONIC="test test test test test test test test test test test junk"
PROVIDER_URL=https://optimism-kovan.infura.io/v3/<infura key>

# wallets used for futures-interact-cli. Only needed when testing locally.
INTERACT_WALLET_PRIVATE_KEY=
DEPLOYER_WALLET_PRIVATE_KEY=