# Should be encrypted with bcrypt (htpasswd -nBC 10 "" | tr -d ':\n')
PROM_HTTP_PASSWORD=
# We start the metric server on port 8084, since we run this in a docker container
# we use host.docker.internal instead of localhost
PROM_ENDPOINT_TO_SCRAPE=host.docker.internal:8085
# The up metric cant use labels, so name the job based on the eth network used
PROM_JOB_NAME=keeper-mainnet-ovm
# Port promethues is exposed to
PROM_PORT=9091

PROM_STAGING_PORT=9090
PROM_STAGING_JOB_NAME=keeper-goerli-ovm
PROM_STAGING_ENDPOINT_TO_SCRAPE=host.docker.internal:8084
